.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    animation: preload .5s ease;
}

@keyframes preload {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

.modal__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}